/**
  Colors
 */
$primary: #3FD48B;
$black: #363636;
$background: #EBEBEB;
$white: #FFFF;
$black: #333333;
$grey: #F3F3F3;
$dark-grey: #A4A4A4;

/**
  Size
 */
$small-size: 12px;
$default-size: 14px;
$big-size: 15px;
$title-size: 24px;

/**
  weight
 */

$light-weight: 300;
$regular-weight: 400;
$bold-weight: 600;